 * {
     list-style: none;
     margin: 0;
     padding: 0;
 }

 img {
     width: 460px;
     height: 340px;
 }

 .testmonial-section {
     height: 100vh;
     display: inline;
     justify-content: center;
     align-items: center;
 }

 .testmonial-section:after {
     content: '';
     position: absolute;
     width: 900px;
     height: 550px;
     background: #f2f2f6;
     right: 0;
     bottom: 0;
     opacity: 0.8;
     z-index: -10;
 }

 .testmonial-container {
     width: 1280px;
     min-width: 1280px;
     height: 600px;
     position: relative;
 }

 .arrows {
     position: absolute;
     display: flex;
     width: 100px;
     align-items: center;
     justify-content: center;
     bottom: 0;
     top: 0;
     cursor: pointer;
     border-radius: 8px;
     transition: .3s ease-in-out;
 }

 .arrows:hover {

     box-shadow: 0px, 0px, 40px rgba(0, 0, 80, 0.5);
 }

 .arrows.right {
     /* background-color: black; */
     right: 0;
 }


 .inner {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 600px;
 }

 .t-image {
     width: 500px;
     height: 600px;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .t-image::after {
     content: '';
     position: absolute;
     width: 200px;
     height: 200px;
     background: #3f56da;
     left: 150px;
     top: 0;
     border-radius: 100%;
     z-index: -9;
 }

 .t-image ul {
     display: flex;
     position: absolute;
     overflow: hidden;
     height: 460px;
     width: 340px;
     box-shadow: 0px 0px 40px rgba(0, 0, 10, .24);

 }

 .t-image li {
     width: 460px;
     height: 340px;

 }

 .t-image img {
     height: 460px;
     width: 340px;
 }

 .t-content {
     width: 500px;
     height: 600px;
     display: flex;
     align-items: center;
 }

 .t-content ul {
     position: absolute;
     overflow: hidden;
     width: 500px;
     height: 400px;
 }

 .t-content li {
     width: 500px;
     height: 400px;
     list-style: none;
     color: gray;
     display: flex;
     align-items: center;
     position: absolute;
     opacity: 0;
 }

 .t-content li:nth-child(1) {
     opacity: 1;
 }
.t-content li:nth-child(1)::after {
     content: '';
     position: absolute;
     height: 12px;
     width: 450px;
     background: gray;
     opacity: 0.3;
     left: 0;
     top: 206px;
 }
.t-content li:nth-child(2) {

}
.t-content li:nth-child(2)::after {
    content: '';
    position: absolute;
    height: 12px;
    width: 148px;
    background: gray;
    opacity: 0.3;
    left: 54px;
    top: 126px;
}
.t-content li:nth-child(3) {

}
.t-content li:nth-child(3)::after {
    content: '';
    position: absolute;
    height: 12px;
    width: 280px;
    background: gray;
    opacity: 0.3;
    left: 144px;
    top: 160px;
}



 .t-content .content-inner {
     width: 500px;
 }

 .t-content .quote {
     font: 26px;
     letter-spacing: 0.88px;
     line-height: 40px;
     font-weight: 700;
     margin-bottom: 16px;

 }

 .t-content .name {
     font-size: 18px;
     line-height: 28px;
     font-weight: 600;
     letter-spacing: 0.88px;
 }

 .t-content .title {
     font-size: 18px;
     line-height: 28px;
     font-weight: 600;
     letter-spacing: 0.88px;
 }